{% extends 'base.html' %}

{% block content %}
    <style>
        .testing{
            background-color:white;
            height: 3rem;
            width: 3rem;
            margin: 1rem;
        }
    </style>
    <div style="text-align:center; margin:2rem; border-radius:1rem;">
        <form action="/account/hello_world/" method="post">
            {% csrf_token %}
            <div>
                <h1>Hello World Input</h1>
                <input type="text" name="hello_world_input">
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="POST">
               {% if hello_world_list %}
                    {% for hello_world in hello_world_list %}
                        <h1> {{hello_world.text}}</h1>
                    {% endfor %}
                {% endif %}
            </div>

        </form>
    </div>
{% endblock %}