{% extends 'base.html' %}

{% block content %}

    <div style="text-align:center; margin: 4rem 0; ">
        <div>

            <img src=" {{target_project.image.url }}" alt=""
                 style="height:12rem; width:12rem; border-radius:20rem; margin-bottom:2rem;">
            <h2>
                {{ target_project.title }}
            </h2>
            <h5 style="margin-bottom:3rem;">
                {{ target_project.description }}
            </h5>
        </div>

        <div>
            {% if user.is_authenticated %}
            {% if not subscription %}
            <a href="{% url 'subscribeapp:subscribe' %}?project_pk={{target_project.pk}}"  class="btn btn-primary rounded-pill px-4 mb-5">
                Subcribe
            </a>
            {% else %}
            <a href="{% url 'subscribeapp:subscribe' %}?project_pk={{target_project.pk}}"
               class ="btn btn-danger rounded-pill px-4">
                Unsubscribe
            </a>
            {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}